@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

* {
  font-family: "PT Serif", serif !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #63422d;
  background-color: #63422d;
  right: 10px;
  height: 45px;
  width: 45px;
  color: #ffffff !important;
  fill: rgb(255, 255, 255) !important;
  stroke: rgb(255, 255, 255) !important;
  border-radius: 50%;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

:is(.swiper-button-next, .swiper-button-prev)::after {
  font-size: 1.2rem;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: inherit;
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

@media screen and (max-width: 600px) {
  .responsive__img {
    width: 140px;
    height: 210px;
  }
}
